@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
  background-color:rgb(71, 212, 255);
  color: black;
  width: 500px;
  margin-right: auto;
  margin-left : auto;
}
button {
  padding: 5px 20px;
  background-color: tomato;
  border-style: none;
}
#result-area {
  font-size: 150px;
  font-family: 'Noto Sans JP', sans-serif;
}
#text-area {
  font-size: 100px;
  color: darkred;
}